<h1>Welcome to FeedMe<h1>

<br/>
<br/>
<br/>

<div class="span6 offset4 Fodder text-center">
	<h1 class="custom-h1">
		Food adventures
	</h1>

<br/>

	<%= link_to 'Be Inspired', '#' , :class => 'btn btn-warning btn-large'  %>	
</div>